#include pjsip.transports.conf
#include pjsip.endpoint.conf
#include pjsip.aor.conf
#include pjsip.auth.conf
#include pjsip.registration.conf
#include pjsip.identify.conf

[global]
type=global
user_agent=FPBX-13.0.192.9(13.14.0)
default_outbound_endpoint=dpma_endpoint
