<component name="ArtifactManager">
  <artifact type="jar" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/app</output-path>
    <root id="archive" name="app.jar">
      <element id="module-output" name="AsteriskJava" />
      <element id="extracted-dir" path="$PROJECT_DIR$/lib/asterisk-java-1.0.0-final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/lib/log4j-1.2.17.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/lib/slf4j-api-1.7.9.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$PROJECT_DIR$/lib/slf4j-jdk14-1.7.25.jar" path-in-jar="/" />
      <element id="library" level="project" name="org.asteriskjava:asterisk-java:1.0.0-final" />
      <element id="library" level="project" name="slf4j-jdk14-1.7.25" />
    </root>
  </artifact>
</component>